@using Konefeld.Kopiec.VodkaApp.UI.WEB.Services
@using Konefeld.Kopiec.VodkaApp.UI.WEB.Models.ViewModels
@inject VodkaService VodkaService
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if (_vodkas.Count != 0)
{
    <ul>
        @foreach (var vodka in _vodkas)
        {
            <li>
                <strong>Name:</strong> @vodka.Name <br/>
                <strong>Producer:</strong> @vodka.ProducerName
            </li>
        }
    </ul>
}

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private IList<VodkaViewModel> _vodkas = new List<VodkaViewModel>();

    protected override void OnInitialized()
    {
        _vodkas = VodkaService.GetVodkas();
    }
}
